<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div>
    <p>Hello {{ name }}!</p>
    <br/>
    <p>We received your request to reset your passowrd.</p>
    <p>If the request was made by you, click on link bellow to choose another password</p>
    <p>
        <a href="{{link}}">Reset my password</a>
    </p>
    <p>Ignore this email if you not request this!!!</p>
    <br/>
    <p>Thank you =D</p>
</div>
